.signBox{
    margin: auto;
    text-align: center;
    width: 367px;
    border: #C4C4C4;
    padding: 30px 0;
    border-radius:7px;
    background: #3C4D58;
    font-family: "LucidaGrande", 'sans-serif';
    letter-spacing: -0.01px;
    font-size: 13px;
}

h1{
    font-family: LucidaGrande, 'sans-serif';
    font-size: 24px;
    color: #303D46;
    letter-spacing: -0.12px;
}
.signButtons{
    background-color: #50BF12;
    border-color: #50BF12;
    border-style: solid;
    border-radius:7px;
    color: #FFFFFF;
    height: 28px;
    font-family: "LucidaGrande", 'sans-serif';
    font-size: 15px;
    margin: 2px 2px 2px 2px;
}
.signButtons:hover{
    background-color: #50BF12;
    border-color: #50BF12;
    opacity: 0.8;

}
.signButtons:active{
    background-color: #37890A;
    border-color: #37890A;
}
.signButtons:focus{
    background-color: #37890A;
    border-color: #37890A;
}
.buttons{
    background-color: #50BF12;
    border-color: #50BF12;
    border-style: solid;
    border-radius:7px;
    color: #FFFFFF;
    width: 309px;
    height: 28px;
    margin-top: 40px;
    font-family: "LucidaGrande", 'sans-serif';
    font-size: 15px;
}
.buttons:hover{
    background-color: #50BF12;
    border-color: #50BF12;
    opacity: 0.8;
}
.buttons:active{
    background-color: #37890A;
    border-color: #37890A;
}
.textForm{
    background-color: #3C4D58;
    border-color: #3C4D58;
    border-style: solid;
    border-bottom-color: #FFFFFF;
    font-size: 15px;
    color: #FFFFFF;
    border-bottom-width: 1px;
    width: 80%;
    margin-top:20px;
    font-family: "LucidaGrande", 'sans-serif';
}
.textForm::placeholder{
    color:#FFFFFF;
    opacity: 0.4;
    font-family: "LucidaGrande", 'sans-serif';
    font-size: 12px;
    font-weight: 100;
}
select#selectDropdown{
    background-color: #3C4D58;
    border-color: #3C4D58;
    border-style: solid;
    border-bottom-color: #FFFFFF;
    -webkit-appearance: listitem;
    font-size: 15px;
    color: #FFFFFF;
    border-bottom-width: 1px;
    width: 80%;
    margin-top:20px;
    font-family: "LucidaGrande", 'sans-serif';
}

.header{
    text-align: right;
}

.headerBtn{
    background-color: #50BF12;
    border-color: #50BF12;
    border-style: solid;
    border-radius:7px;
    color: #FFFFFF;
    height: 28px;
    font-family: LucidaGrande, 'sans-serif';
    font-size: 15px;
    letter-spacing: -0.01px;
}

.headerBtn:hover{
    background-color: #50BF12;
    border-color: #50BF12;
    opacity: 0.8;
}
.headerBtn:active{
    background-color: #37890A;
    border-color: #37890A;
}
.headerBtn#signIn{
    background: #F4F4F4;
    color: #303D46;
    border-color: #F4F4F4;
}

.applyBtn{
    background-color: #292826;
    border-color: #50BF12;
    border-style: solid;
    border-radius:7px;
    color: #FFFFFF;
    height: 28px;
    font-family: LucidaGrande, 'sans-serif';
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: -0.01px;
    margin-bottom: 20px;
}

.applyrBtn:hover{
    background-color: #363535;
    border-color: #50BF12;
    opacity: 0.8;
}
.applyBtn:active{
    background-color: #363535;
    border-color: #37890A;
}
.mainImg{
    text-align: center;
    margin-top: 50px;
}
.mainI{
    width:700px;
}

.mainPage{
    background: url("./Main Page.png")center no-repeat ; width:100%;
    background-position-y: 130px;
}
.mainPage#sign{
    background-position-y: 0px !important;
}
.getYour{
    font-family: LucidaGrande, 'sans-serif';
    font-size: 24px;
    color: #303D46;
    letter-spacing: -0.12px;
}
.degree{
    font-family: LucidaGrande, 'sans-serif';
    font-size: 15px;
    color: #303D46;
}
.open{
    font-family: LucidaGrande-Bold, 'sans-serif';
    font-size: 15px;
    color: #303D46;
    letter-spacing: -0px;
}

.profile_header{
    background-color: #2d3d47;
    width: 100vw;
    text-align: right;
    position: relative;
    margin-left: -50vw;
    height: 30px;
    margin-top: -8px;
    left: 50%;
}
.profile_header_buttons{
    background-color: #384d5a;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-left: -50vw;
    height: 50px;
    left: 50%;
}
.small_avatar{
    size:30px;

}

.profile_buttons{
    background-color: #00a636;
    border-color: #00a636;
    border-style: solid;
    border-radius:7px;
    color: #FFFFFF;
    width: 100px;
    margin-right: 2px;
    height: 25px;
    font-family: "LucidaGrande", 'sans-serif';
    font-size: 15px;
    margin-top: 15px;
}
.profile_buttons:hover{
    background-color: #008945;
    border-color: #008945;
    opacity: 0.8;
}
.profile_buttons:active{
    background-color: #00562c;
    border-color: #00562c;
}
.profile_buttons:focus{
    background-color: #008945;
    border-color: #008945;
}

.avatar_component{
    margin-top: 70px;
    text-align: center;
}
h2{
    font-family: LucidaGrande, 'sans-serif';
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: -0.12px;
}
h3{
    font-family: LucidaGrande, 'sans-serif';
    font-size: 15px;
    color: #969696;
    line-height: 2px;
    font-weight: normal;
    letter-spacing: -0.12px;
}

.profile_box{
    background-color: #384d5a;
    width: 350px;
    height: 120px;
    margin: 5px;
    text-align: left;
    border-radius:7px;
}
#profile_info_header{
    padding-left: 20px;
    padding-top: 10px;
}

a{
    padding-left: 10px;
    padding-bottom: 20px;
    color: #969696;
    font-family: LucidaGrande, 'sans-serif';
    font-size: 15px;
}
#prof_info{
    padding-left: 10px;
    color: #ffffff;
    font-weight: normal;
}

.add_document_btn {
    background-color: #ffffff;
    margin-left: 20px;
    padding-top: 3px;
    border-color: #ffffff;
    border-style: solid;
    border-radius:7px;
    color: #384d5a;
    height: 35px;
    font-family: "LucidaGrande", 'sans-serif';
    font-size: 15px;
}
.add_document_btn:hover{
    background-color: #3c4c56;
    border-color: #3c4c56;
    opacity: 0.8;
    color: #ffffff;
}
.add_document_btn:active{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
}
.add_document_btn:focus {
    background-color: #3c4c56;
    border-color: #3c4c56;
    color: #ffffff;
}
#plus{
float: left;

   padding-right: 8px;
    margin-right: 5px;
    color: #ffffff;
    height: 5px;
    background-color: #00a636;
    border-radius:15px;
}
#test_box{
 width: 550px;
    height: 50px;
    text-align: center;
}
.profile{
    text-align: center;
}
#test_margin{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#interview{
    height: 200px;
}
#mng_btn{
    width: auto;
}

.test_editor{
    margin-top: 20px;
    margin-left: 20px;
    font-family: LucidaGrande, 'sans-serif';
    font-size: 15px;
    color: #000000;
    line-height: 2px;
    font-weight: normal;
    letter-spacing: -0.12px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
