.list_text{
    margin-top: 20px;
    margin-left: 20px;
    font-family: LucidaGrande, 'sans-serif';
    font-size: 18px;
    color: #000000;

    font-weight: normal;
    letter-spacing: -0.12px;
}
.view_button{
    background-color: #50BF12;
    border-color: #50BF12;
    border-style: solid;
    border-radius:7px;
    color: #FFFFFF;
    font-family: "LucidaGrande", 'sans-serif';
    font-size: 15px;
    margin-left: 5px;
}
.view_button:hover{
    background-color: #50BF12;
    border-color: #50BF12;
    opacity: 0.8;
}
.view_button:active{
    background-color: #37890A;
    border-color: #37890A;
}
.view_button:focus{
    background-color: #37890A;
    border-color: #37890A;
}
h3{
    font-family: LucidaGrande, 'sans-serif';
    font-size: 15px;
    color: #969696;
    line-height: normal !important;
    font-weight: normal;
    letter-spacing: -0.12px;
}

.incorrect {
    background-color: transparent !important;
    color: black !important;
}
 .correct {
    background-color: transparent !important;
    color: black !important;
}
 .add_document_btn{
     width: 20px;
 }
 .plus{
     background-color: transparent !important;
 }
.image-upload > input
{
    display: none;
}
.image-upload > button
{
    display: none;
}

.image-upload img
{
    width: 40px;
    cursor: pointer;
}
.file{
    background-color: #ffffff;
    border-radius: 4px;
    border: 5px #000000;
    margin: 5px;
    margin-left: 30px;
    padding: 1px;
    font-family: LucidaGrande, 'sans-serif';
    font-size: 15px;
}
.file:hover{
    background-color: #00a636;
    color: #ffffff;

}
.file:active {
    background-color: #000000;
    color: #ffffff;
}
.file-save{
    background-color: #00a636;
    color: #ffffff;
    border-radius: 4px;
    border: 2px #000000;
    margin-left: 50px !important;
    padding: 7px;
}
.file-save:hover{
    background-color: #00562c;
}
.file-save:active{
    background-color: #000000;
}


.log_out_btn{
    background-color: #50BF12;
    border-color: #50BF12;
    border-style: solid;
    border-radius:7px;
    color: #FFFFFF;
    font-family: "LucidaGrande", 'sans-serif';
    font-size: 15px;
    margin: 2px 2px 2px 2px;
}
.log_out_btn:hover{
    background-color: #50BF12;
    border-color: #50BF12;
    opacity: 0.8;

}
.log_out_btn:active{
    background-color: #37890A;
    border-color: #37890A;
}
.log_out_btn:focus{
    background-color: #37890A;
    border-color: #37890A;
}